apiVersion: app.kiegroup.org/v1alpha1
kind: KogitoApp
metadata:
  name: onboarding-service
spec:
  build:
    gitSource:
      uri: https://github.com/kiegroup/kogito-examples
      contextDir: onboarding-example/onboarding
    imageVersion: 0.7.0
    # set your maven nexus repository
    #mavenMirrorURL: http://nexus3-nexus.apps-crc.testing/repository/maven-public/
  service:
    labels:
      onboarding: process
  env:
    - name: NAMESPACE
      value: "<namespace_where_this_app_is_deployed>"

---
apiVersion: app.kiegroup.org/v1alpha1
kind: KogitoApp
metadata:
  name: hr-service
spec:
  build:
    gitSource:
      uri: https://github.com/kiegroup/kogito-examples
      contextDir: onboarding-example/hr
    imageVersion: 0.7.0
    # set your maven nexus repository
    #mavenMirrorURL: http://nexus3-nexus.apps-crc.testing/repository/maven-public/
  service:
    labels:
      department: process
      id: process
      employeeValidation: process

---
apiVersion: app.kiegroup.org/v1alpha1
kind: KogitoApp
metadata:
  name: payroll-service
spec:
  build:
    gitSource:
      uri: https://github.com/kiegroup/kogito-examples
      contextDir: onboarding-example/payroll
    imageVersion: 0.7.0
    # set your maven nexus repository
    #mavenMirrorURL: http://nexus3-nexus.apps-crc.testing/repository/maven-public/
  service:
    labels:
      taxes/rate: process
      vacations/days: process
      payments/date: process
