apiVersion: app.kiegroup.org/v1alpha1
kind: KogitoApp
metadata:
  name: kogito-visas
spec:
  infra:
    installInfinispan: Always
    installKafka: Always
  env:
    - name: MP_MESSAGING_INCOMING_VISAAPPLICATIONS_BOOTSTRAP_SERVERS
    - name: MP_MESSAGING_OUTGOING_VISASAPPROVED_BOOTSTRAP_SERVERS
    - name: MP_MESSAGING_OUTGOING_VISASREJECTED_BOOTSTRAP_SERVERS
    - name: MP_MESSAGING_OUTGOING_KOGITO_PROCESSINSTANCES_EVENTS_BOOTSTRAP_SERVERS
    - name: MP_MESSAGING_OUTGOING_KOGITO_USERTASKINSTANCES_EVENTS_BOOTSTRAP_SERVERS
  build:
    gitSource:
      contextDir: 06-kogito-visas
      uri: "https://github.com/kiegroup/kogito-travel-agency-tutorial/"
    imageVersion: 0.8.0
    # set your maven nexus repository
    #mavenMirrorURL: http://nexus3-nexus.apps-crc.testing/repository/maven-public/
