apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: kogito-cloud-operator
rules:
  - apiGroups:
      - ""
      - app.kiegroup.org
      - apps.openshift.io
      - image.openshift.io
      - build.openshift.io
      - rbac.authorization.k8s.io
      - route.openshift.io
    resources:
      - "*"
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - statefulsets
      - deployments
      - replicasets
    verbs:
      - "*"
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - get
      - create
      - list
      - delete
  - apiGroups:
      - apps
    resourceNames:
      - kogito-cloud-operator
    resources:
      - deployments/finalizers
    verbs:
      - update
---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kogito-service-viewer
  annotations:
    org.kie.kogito/managed-by: Kogito Operator
rules:
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - list
      - get
      - watch