apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: submarine-cloud-operator
rules:
  - apiGroups:
      - ""
      - apps.openshift.io
      - image.openshift.io
      - build.openshift.io
      - route.openshift.io
    resources:
      - "*"
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - "*"
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - get
      - create
  - apiGroups:
      - apps
    resourceNames:
      - submarine-cloud-operator
    resources:
      - deployments/finalizers
    verbs:
      - update
  - apiGroups:
      - app.kiegroup.org
    resources:
      - subapps
    verbs:
      - "*"
