name: Kogito Operator PR Checks
on:
  pull_request:
  push:
    paths-ignore:
      - "README.md"
      - "examples/**"
      - "LICENSE"
      - "Makefile"
    branches:
      - master
env:
  OPERATOR_SDK_VERSION: v0.18.2
  GO_VERSION: 1.14
jobs:
  golint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      GOLANG_LINT_VERSION: v1.27.0
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go
      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod/cache
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache-
      - name: Cache the binaries
        uses: actions/cache@v1
        with:
          path: ~/go/bin/
          key: ${{ runner.os }}-go-${{ env.GO_VERSION }}
          restore-keys: |
            ${{ runner.os }}-go-${{ env.GO_VERSION }}
      - name: Install Operator-sdk
        run: ./hack/ci/install-operator-sdk.sh
      - name: Check Vet
        run: |
          ./hack/go-vet.sh
          changed_files=$(git status -s | grep -v 'go.mod\|go.sum' || :)
          generated_changed_files=$(git status -s | grep zz_generated || :)
          [[ -z "$generated_changed_files" ]] || (printf "There is change in auto-generated files, Please make sure to upgrade openapi-gen" && exit 1)
          [[ -z "$changed_files" ]] ||  (printf "Change is detected in some files: \n$changed_files\n Did you run 'make test' before sending the PR?" && exit 1)

      - name: Check Headers
        run: |
          ./hack/addheaders.sh
          changed_files=$(git status -s | grep -v 'go.mod\|go.sum' || :)
          [[ -z "$changed_files" ]] ||  (printf "Some files are missing the headers: \n$changed_files\n Did you run 'make test' before sending the PR" && exit 1)
      - name: Check Formatting
        run: |
          ./hack/go-fmt.sh
          changed_files=$(git status -s | grep -v 'go.mod\|go.sum' || :)
          [[ -z "$changed_files" ]] ||  (printf "Some files are not formatted properly: \n$changed_files\n Did you run 'make test' before sending the PR?" && exit 1)
      - name: Install golinters
        run: |
          go get -u golang.org/x/lint/golint
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin $GOLANG_LINT_VERSION
      - name: Check lint
        run: ./hack/go-lint.sh

  unit_test_and_coverage:
    name: Unit test and Coverage
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go
      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod/cache
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache-
      - name: Install cover
        run: go get golang.org/x/tools/cmd/cover
      - run: go mod tidy
      - name: Validate codcov yaml file
        run: cat codecov.yml | curl --data-binary @- https://codecov.io/validate
      - name: Test cmd dir
        run: |
          go test ./cmd/... -count=1 -p=1 -coverprofile=coverage.txt -covermode=atomic
      - name: Upload results of cmd to codecov
        run: bash <(curl -s https://codecov.io/bash) -F cli -X gcov
      - name: Test pkg dir
        run: |
           go test ./pkg/... -count=1 -coverprofile=coverage.txt -covermode=atomic
      - name: Upload results of pkg to codecov
        run: bash <(curl -s https://codecov.io/bash) -F operator -X gcov

  bats_test:
    name: Bats Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Bats
        run: |
          git clone https://github.com/bats-core/bats-core.git
          cd bats-core && ./install.sh $HOME
      - name: Run Bats
        run: $HOME/bin/bats hack/*.bats
  olm_integration:
    name: OLM Integration Test
    needs: [golint, unit_test_and_coverage, bats_test]
    runs-on: ubuntu-latest
    env:
      CLUSTER_NAME: operator-test
      KIND_VERSION: v0.8.1
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Setup Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go
      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod/cache
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache-
      - name: Cache the binaries
        uses: actions/cache@v1
        with:
          path: ~/go/bin/
          key: ${{ runner.os }}-go-${{ env.GO_VERSION }}
          restore-keys: |
            ${{ runner.os }}-go-${{ env.GO_VERSION }}
      - name: Cache Go mod
        uses: actions/cache@v1
        with:
          path: go.mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.mod') }}
          restore-keys: |
              ${{ runner.os }}-go-mod-
      - run: go mod tidy
      - name: Intall Operator-sdk
        run: ./hack/ci/install-operator-sdk.sh
      - name: Install Kind
        run: ./hack/ci/install-kind.sh
      - name: Start Kind
        run: ./hack/ci/start-kind.sh
      - name: Genrate Manifests
        run: ./hack/generate-manifests.sh
      - name: Build Operator Image
        env:
          BUILDER: docker
        run: ./hack/go-build.sh
      - name: Load Operator Image
        run: ./hack/ci/load-operator-image.sh
      - name: Run Operator OLM Integration Test
        run: ./hack/ci/operator-olm-test.sh